# Start the starship
{{ template "starship.tmpl" . }}

# Manually source plugins downloaded by chezmoi
source ~/.zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zsh/plugins/zsh-history-substring-search/zsh-history-substring-search.zsh
## NOTE: Syntax highlighting. This needs to be added last
source ~/.zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
