#!/bin/bash

# Trigger update when this version changes: 
# This line should change when the client release changes
# BW_VERSION: {{ (gitHubLatestRelease "bitwarden/clients").TagName }}

set -eufo pipefail

{{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "nixos" -}}
    echo "On NixOS: Ensure 'pkgs.bitwarden-cli' are in your nix configuration."
  {{ else if (or (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.id "bazzite")) -}}
    echo "Checking for Bitwarden-cli install"
    if ! command -v bw &> /dev/null; then
      echo "Bitwarden not found. Installing with Linuxbrew."
      brew install bitwarden-cli
    else
      echo "Bitwarden found. Checking for available updates and installing if found."
      brew upgrade $(brew outdated --quiet bitwarden-cli)
    fi
  {{ end -}}
{{ end -}}
